## .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

## NuGet
*.nupkg
*.snupkg

## macOS
.DS_Store

## IDE
.vs/
.vscode/
*.swp

## Umbraco demo site
samples/**/umbraco/Data/
samples/**/umbraco/Logs/
samples/**/wwwroot/media/
samples/**/appsettings.Development.json
samples/**/appsettings-schema*.json
samples/**/umbraco-package-schema.json
